@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif !important;
}

/* ------------- navbar --------------------------------*/
.navbar-brand{
    padding-left: 10%;
}
.navbar-brand span{
    font-size: 1.8rem;
    color: #2B39A1 !important;
    font-family: 'Biryani', sans-serif;
    font-style: normal;
    font-weight: normal;
}
.navbar-brand img{
    vertical-align: middle
    ;
}
.navbar-brand span:hover{
    color: black !important;
}

.nav-item a{
    color: #4D5CCF !important;
    font-size: 1.2rem;
}

.nav-item{
    padding-left: 10px;
}
.nav-link{
    font-weight: 500;
    font-size: 1.3rem !important;
}
.navbar-nav{
    margin-left: 58%;
}

/* --------------------------------------------------------------------- */
.landing{
    background-image: url("/images/wave.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.image{
    padding-top: 8%;
}
.image img{
    height: 12vw;
}

.heading{
    text-align: center;
}
.profile i{
    font-size: 1.3rem;
    padding-right: 2%;
}
.profile span{
    font-size: 1.25rem;
}
.footer{
    padding-top: 2%;
    padding-bottom: 2%;
}
.footer img{
    height: 12vw;
}